#ex01 .box:hover {
  background-color: #11445a;
}

/* ______________________________________ */

#ex02 .box:hover {
  background-color: #11445a;
}

#ex02 .box {
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* ______________________________________ */

#ex03 .box:hover {
  background-color: #11445a;
}

#ex03 .box {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}

/* ______________________________________ */

#ex04 .box:hover {
  background-color: #11445a;
  color: white;
}

#ex04 .box {
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* ______________________________________ */

#ex05 .box:hover {
  background-color: #11445a;
  color: white;
}

#ex05 .box {
  transition: color 0.5s 0.5s;
}

/* ______________________________________ */

#ex06 .wrapper:hover {
  background-color: #11445a;
}

#ex06 .box {
  transition: background-color;
}

exercice pas fini

/* ______________________________________ */
