/* 1______________________________________ */

#ex01 .box:hover {
  background-color: #11445a;
}

/* 2______________________________________ */

#ex02 .box:hover {
  background-color: #11445a;
}

#ex02 .box {
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* 3______________________________________ */

#ex03 .box:hover {
  background-color: #11445a;
}

#ex03 .box {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}

/* 4______________________________________ */

#ex04 .box:hover {
  background-color: #11445a;
  color: white;
}

#ex04 .box {
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* 5______________________________________ */

#ex05 .box:hover {
  background-color: #11445a;
  color: white;
}

#ex05 .box {
  transition: color 0.5s 0.5s, background-color 0.2s;
}

/* 6______________________________________ */

#ex06 .wrapper:hover .box {
  background-color: #11445a;
}

#ex06 .box {
  transition: background-color 0.3s 0.5s;
}

/* 7______________________________________ */

#ex07 .wrapper:hover .box {
  background-color: #11445a;
}

#ex07 .wrapper .box {
  transition: background-color 0.3s 0.5s;
}

#ex07 .box:nth-child(2) {
  transition-delay: 0.7s;
}

#ex07 .box:nth-child(3) {
  transition-delay: 0.9s;
}

/* 8______________________________________ */

#ex08 .wrapper:hover {
  background-color: #11445a;
}

#ex08 .wrapper:hover .box {
  background-color: #eff7e1;
}

#ex08 .wrapper,
.box {
  transition: background-color 0.5s 0.5s;
}

/* 9______________________________________ */

#ex09 .wrapper:hover {
  background-color: #11445a;
}

#ex09 .wrapper:hover .box {
  background-color: #eff7e1;
}

#ex09 .wrapper,
.box {
  transition: background-color 0.5s;
}

#ex09 .wrapper {
  transition-delay: 0.5s;
}

#ex09 .box {
  transition-delay: 0.8s;
}

/* 10______________________________________ */

#ex10 .box:nth-child(1),
#ex10 .box:nth-child(2),
#ex10 .box:nth-child(3) {
  transition: transform 0.3s;
}

#ex10 .box:nth-child(1):hover,
#ex10 .box:nth-child(2):hover,
#ex10 .box:nth-child(3):hover {
  transform: translateY(20px);
}

/* 11______________________________________ */

#ex11 .box:nth-child(1),
#ex11 .box:nth-child(2),
#ex11 .box:nth-child(3) {
  transition: transform 0.4s;
}

#ex11 .box:nth-child(1):hover,
#ex11 .box:nth-child(2):hover,
#ex11 .box:nth-child(3):hover {
  transform: rotate(90deg);
}

/* 12______________________________________ */

#ex12 .box:nth-child(1),
#ex12 .box:nth-child(2),
#ex12 .box:nth-child(3) {
  transition: transform 0.4s;
}

#ex12 .box:nth-child(1):hover,
#ex12 .box:nth-child(2):hover,
#ex12 .box:nth-child(3):hover {
  transform: scale(1.2);
}
